* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #D84A38;
    color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

#carmy {
    max-width: 700px;
    margin: 2rem auto;
    text-align: center;
    background-color: gray;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F5EF;
    color: #333;
    line-height: 1.6;
    padding: 1rem;
}

h3 {
    color: #A0522D;
    margin-bottom: 1rem
}

.tarjeta {
    background-color: white;
    border: 1px solid #E1B866; /* Mostaza suave */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: transform 0.2s;
    text-align: center;
}

img {
    border-radius: 10%;
}

.plato:hover {
    transform: scale(1.3);
}

.plato {
    box-shadow: 5px 5px black;
}